@font-face
  font-family: 'Cardo'
  src: local('Cardo'), local('Cardo-Regular'), url(Fonts/Cardo-Regular.ttf)

@font-face
  font-family: 'Open Sans'
  src: local('Open Sans'), local('OpenSans'), url(Fonts/OpenSans-Regular.ttf)

/* Colours.
$color-dark-primary: #0E1116
$color-dark-secondary: #374A67
$color-light-primary: white

/* Layout units.
$unit-tiny: 0.05em
$unit-vsml: 0.1em
$unit-sml: 0.2em
$unit-med: 0.4em
$unit-lrg: 0.8em

/* Container sizes.
$header-container-height: 95vh

/* Remaining variables.
$half-repo-grid-gutter: $unit-lrg
$repo-card-size: 16em

body
  margin: 0

.header-container
  align-items: center
  background-color: $color-light-primary
  display: flex
  height: $header-container-height
  justify-content: center

.header-content
  align-items: center
  display: flex
  flex-direction: column

hr
  border: 0
  height: $unit-tiny
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))
  margin-left: 0
  margin-right: 0

.language-table
  border-collapse: collapse
  width: inherit

.language-td
  padding: $unit-lrg

.repos-container
  background-color: $color-dark-secondary

.repos-content
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  padding: $half-repo-grid-gutter

.repo-card
  background-color: $color-light-primary
  border-radius: $unit-vsml
  display: flex
  flex-direction: column
  height: $repo-card-size
  margin: $half-repo-grid-gutter
  overflow: hidden
  font-family: 'Open Sans', sans-serif
  text-align: center
  width: $repo-card-size

.repo-card-description
  flex-grow: 1

.share-dialog
  background-color: $color-dark-primary
  border-radius: $unit-vsml
  color: white
  font-size: 1.5em
  margin: $unit-sml
  padding: $unit-tiny $unit-lrg $unit-tiny $unit-lrg

.title
  color: $color-dark-primary
  font-family: 'Cardo', serif
  font-size: 3em
